{% extends '_base.html' %}


{% block title %}

<title>{{ title }}</title>

{% endblock title%}

{% block header %}

<h1> {{header}} </h1>

{% endblock header %}

{% block content %}
<style>

table {
   margin-top: 3%;
  background-color: rgba(219, 229, 218, 0.38);
  border-spacing: 1em .5em;
  padding: 25% 50px 50px 50px;
  border: 5px solid #ffffff;
}
 th, td {
    border-spacing: 5px;
  border: 2px solid rgba(145, 201, 149, 0.42);
     display: table-cell;
  vertical-align: middle;
    text-align: center;
}
</style>


<br><table class="table">
  <thead class="thead-dark">
        <tr>
           <th scope="col">Author Name</th>
            <th scope="col">Author Surname</th>
            <th scope="col">Author Patronymic</th>
            <th scope="col">Edit</th>
{#            <td>#}
{#                <a href="{% url 'user_insert' %}" class="btn btn-outline-success">#}
{#                    <i class="fas fa-user-friends"></i> Add New#}
{#                </a>#}
{#            </td>#}
        </tr>
    </thead>
    <tbody>
        {% for author in author_list %}
            <tr>
                <td>{{author.name}}</td>
                <td>{{author.surname}}</td>
                <td>{{author.patronymic}}</td>
                <td>
                    <a href="{% url 'author_update' author.id %}" class="btn text-secondary px-8">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'author_delete' author.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="Submit" class="btn">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table></br>

    <td>
        <a href="{% url 'author_insert' %}" class="btn btn-outline-success" id = 'foo'>
                    <i class="fas fa-user-friends"></i> Add New
        </a>
    </td>
<style>
  #foo {
    position: fixed;
    bottom: 85%;
    right: 1%;
  }
</style>
{% endblock %}