{% extends '_base.html' %}
{% load crispy_forms_tags %}


{#{% block title %}#}
{##}
{#<title>{{ title }}</title>#}
{##}
{#{% endblock title%}#}
{##}
{% block header %}

<br><h1 style="text-indent:25px;" > Створення замовлення </h1>
</br>

{% endblock header %}

{% block content %}

 <form action="" method="post" autocomplete="off" style="text-indent:25px;">
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    {{form.user|as_crispy_field}}
    {{form.book|as_crispy_field}}
    {% comment %} {{form.created_at|as_crispy_field}} {% endcomment %}
    {{form.end_at|as_crispy_field}}
    {{form.plated_end_at|as_crispy_field}}

   <br> <button type="Submit" class="btn btn-success" style="margin-left: 25px">
     <i class="fas fa-user-check" ></i> Submit</button></br>
 </form>
</style>
{% endblock %}
